body {
    background-color: #F6F6F6;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

h1, h2, h3, span {
    font-family: 'Roboto', sans-serif;
    }

.HomePage {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    align-items: center;
}

.LogoBox {
    grid-column: 2;
    justify-self: end;
    min-width: 550px;
    
}

.Logo {
    
    max-width: 100%;
    height: auto;
    padding: 5%;

}

.SignUp {
    grid-column: 3;
    height: 100%;
    width: 100%;
    min-width: 450px;
    display: grid;
    padding: 5%;
    grid-template-rows: 90% 1%;
    grid-template-areas: "card" "." "stepper";
    justify-self: start;
}

.SignUpCard {
    overflow: visible !important;
    grid-area: card;
}

.SignUpHeader {
    justify-content: center;
    background-color: white;
}

.Title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 50%;
    min-width: 250px;
    height: auto;
}

.SignUpBody {
    padding: 10px
}

.stepper {
    grid-area: stepper;
    padding: 0px !important;
    background-color: white !important;
}